# Python virtual environment
venv/
env/
ENV/
.venv/
.venv_prod/

# Node modules 
node_modules/

# Python cache files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files (optional but recommended)
.vscode/
.idea/
*.swp
*.swo
backend/db/db.sqlite
